<h1>All Customers Ordered By Name</h1>
  <table class="customerStuff">
  <tbody>
    <%# Ruby short form. This will look inside the Customers view folder, for a partial called customer (app/views/customers/_customer.html.erb) %> 
    <%= render @customers %>
  </tbody>
</table>
